.agent-onlinestatus[status="online"] {
    color: greenyellow;
}

.agent-onlinestatus[status="offline"] {
    color:red;
}

.boxes {
    display:flex;
    flex-flow:column;
}

.box {
    width:300px;
    height:250px;
}
